@{
    ViewData["Title"] = "Message Board";
}
<body>
    <nav>
        <h1>The Wall</h1>
        <p id="user-info">
            Welcome, @ViewBag.CurrUser.FirstName @ViewBag.CurrUser.LastName!<br><a href="/logout">Log Out</a>
        </p>
    </nav>

    <main>
        <div class="msg-box" style="overflow-x:auto;">
            <table style="width:100%">
                <colgroup>
                    <col span="2">
                </colgroup>
                <tr>
                <!--message board-->  
                    <td>
                        <ul
                        @{
                            foreach(var Message in ViewBag.AllMsgs)
                            {   
                                <p>
                                    Posted by: @Message.User.FirstName @Message.User.LastName on @Message.CreatedAt
                                    <br>
                                    @Message.Content
                                </p><br>
                            }
                        }
                    </td>

                    <td id="post">
                        <fieldset> <!--message box-->
                            <legend>What's on your mind today?</legend>
                            <form id="message" action="view-message" method="post">
                                <textarea name="Content" rows="5" cols="50" autofocus wrap="soft" maxlength="1000" placeholder="Enter your message here"></textarea><br><br>
                                <button type="submit" name="submit" value="submit">Submit</button>
                            </form>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>


